{% extends "base.html.twig" %}

{% block title %}
SaharaShop
{% endblock %}

{% block body%}
<header>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>
<main>
<h1>SaharaShop</h1>
</main>

{% endblock %}